<script src="https://fb.me/react-0.14.7.min.js"></script>
<script src="https://fb.me/react-with-addons-0.14.7.min.js"></script>
<script src="https://fb.me/react-dom-0.14.7.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.3.1/redux.min.js"></script>
<script src="lib/babel/browser.min.js"></script>
<script type="text/babel" src="src/main.js"></script>
<div id="root">
</div>
